<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ba.unsa.etf.rma.rasimsabanovic.rma_projekat">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/vader"
        android:label="IMDb ripoff"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".SaveState">

        <activity android:name=".GlumciAktivnost">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BiografijaAktivnost"
            android:label="RMA_Projekat"></activity>
        <activity android:name=".ReziseriAktivnost"></activity>
        <activity android:name=".ZanrAktivnost"></activity>
        <service android:enabled="true" android:name=".PretragaGlumaca"/>

        <service android:enabled="true" android:name=".ZanroviReziseri"/>

        <service android:enabled="true" android:name=".PretragaFilmova"/>

    </application>


</manifest>